[ng-click]{
	cursor: pointer;
}
.chosen{
	font-size: 15px;
}
.chosen{
	font-size: 20px;
}
span.tab-space{
	padding-left:5em;
}
caption.nah{
	font-size: 20px;
}

.done{
	background-color: gray;
	text-decoration: line-through;
}
.activeOnes{
	background-color: skyblue;
}
.overdue{
	background-color: red;
}