<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lazy to do</title>
	<link rel='stylesheet' href="bootstrap.min.css">
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="angular-date-picker.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js'></script>
  <script src="angular-date-picker.js" ></script>
	<script src="todo.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

<div class="col-md-3 chosen1">
  <div ng-show='selectedOne'>
      <p><b>Name</b><br>
      <span ng-show='!editable'>{{selectedOne.name}}</span>
      <input ng-show='editable' ng-init='selectedOne.name' 
            ng-model="selectedOne.name" name="name" type="text" >
      </p>
      <p><b>Description</b><br>
      <span ng-show='!editable'>{{selectedOne.description}}</span>
      <input ng-show='editable' ng-init='selectedOne.description'
            ng-model="selectedOne.description" 
            name="description" type="text" >
      </p>
      <p><b>Target Date</b><br>
        <span ng-show="!editable">{{selectedOne.targetDate | date}}</span>
        <date-picker ng-show="editable" ng-model="selectedOne.targetDate" name='targetDate'
                  name='selectedOne.targetDate' ng-init="selectedOne.targetDate">
        </date-picker>
      </p>
      <p ng-show="!editable"><b>Date Created</b>
        <br>{{selectedOne.dateCreated | date}}
      </p>
      <p ng-show="!editable"><b>Tags</b><br>
        <small ng-repeat="y in selectedOne.tags"
            ng-click='filterByTag(y)'>{{y+", "}}
        </small>
        <input ng-show='' ng-model="selectedOne.tags" name="tags" 
              type="text" ng-init='selectedOne.tags.join(",")'>

      </p>
      <div ng-show="!editable"><b>Done? </b>
        <p ng-show='selectedOne.done'> Yeah</p>
        <p ng-hide='selectedOne.done'>Naah</p>
      </div>
      <div ng-show="!editable"><b>Overdue? </b>
        <p ng-show='selectedOne.overdue'> Yeah</p>
        <p ng-hide='selectedOne.overdue'>Naah</p>
      </div>
      <div>
        <button class="btn btn-success" ng-click='markAsDone(selectedOne)' ng-show="!editable">Mark as done</button>
        <button class="btn btn-info" ng-click='edit(selectedOne)' id='editsave'>Edit</button>
        <button class="btn btn-danger" ng-click='delete(indexOf(selectedOne))' ng-show="!editable">Delete</button>
      </div>
  </div>
</div>

<div class ='col-md-6 padding chosen2' >
<table class="table table-strippedx">
  <caption class="nah">
    <b>To-do List</b>
    <span class="tab-space" ng-click='filterByTag("default")' >Filtered by tag: {{tag}}
      <small>(click to reset)</small>
    </span>
  </caption>
    <tr>
      <td><b>What to do</b></td>
      <td><b>Target Date:</b></td>
      <td><b>Tags</b></td>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{targetDate}}</td>
      <td ng-repeat='y in tags.split(",") | limitTo:3'>#{{y+", "}}</td>
    </tr>
    <tr ng-class="{'activeOnes':!x.overdue && !x.done,'overdue':x.overdue && !x.done,'done': x.done}"
        ng-repeat="x in todos | orderBy:['done','targetDate','name'] track by $index" 
        ng-click="setSelected(x,$index)" 
        ng-show='hasTag(x.tags,tag)'>
      <td class="col-md-2">{{x.name}}</td>
      <td class="col-md-2">{{x.targetDate | date}}</td>
      <td class="col-md-2" ng-repeat="y in x.tags | limitTo:3"><small  ng-click='filterByTag(y)'>#{{y+", "}}</small></td>
    </tr>
    
</table>
</div>
<form class="form-horizontal col-md-3" name="myform" novalidate>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Name</label>  
    <div class="col-md-8">
      <input ng-model="name" name="name" placeholder="What to do?" 
              class="form-control input-md" type="text" required>
    </div>
  </div>
  	
  <div class="form-group">
    <label class="col-md-3 control-label" for="description">Description</label>
    <div class="col-md-8">                     
      <textarea class="form-control" ng-model="description" name="description" required="">
      Describe to-do
      </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label" for="targetDate">Target Date</label>
    <div class="col-md-9 date">    
       <div class="input-group input-append date">
            <date-picker ng-model="targetDate" name='targetDate' required>
            </date-picker>
        </div>                 
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="tags">Tags</label>  
    <div class="col-md-8">
      <input ng-model="tags" name="tags" placeholder="Separate by commas" 
              class="form-control input-md" required="" type="text">
    </div>
  </div>
  
  <button class="btn btn-success btn-lg btn-block" ng-disabled="myform.name.$pristine || myform.description.$invalid
  			|| myform.targetDate.$invalid || myform.targetDate.$pristine ||
  			myform.tags.$invalid" ng-click='addItem()'>Add</button>
 
</form>
</div>

</script>
</body>
</html>