<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lazy to do</title>
	<link rel='stylesheet' href="bootstrap.min.css">
  <link rel="stylesheet" href="todo.css">
  <link rel="stylesheet" href="angular-date-picker.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js'></script>
  <script src="angular-date-picker.js" ></script>
	<script src="todo.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">

<div class="col-md-4 yle1">
  <div ng-show='selectedOne'>
      <p><b>Name</b><br>{{selectedOne.name}}</p>
      <p><b>Description</b><br>{{selectedOne.description}}</p>
      <p><b>Target Date</b><br>{{selectedOne.targetDate | date}}</p>
      <p><b>Date Created</b><br>{{selectedOne.dateCreated | date}}</p>
      <p><b>Tags</b><br><small ng-repeat="y in selectedOne.tags" ng-click='filterByTag(y)'>#{{y+", "}}</small></p>
      <p><b>Done? </b>
        <p ng-show='selectedOne.done'> Yeah</p>
        <p ng-hide='selectedOne.done'>Naah</p>
      </p>
      <div>
        <button class="btn btn-success" ng-click='markAsDone(selectedOne)'>Mark as done</button>
        <button class="btn btn-info" ng-click='edit(selectedOne)'>Edit</button>
        <button class="btn btn-danger" ng-click='delete(currentIndex)'>Delete</button>
      </div>
  </div>
</div>

<div class ='col-md-4 yle2' >
<table class="table table-strippedx">
  <caption class="nah">
    <b>To-do List</b>
    <span class="tab-space" ng-click='filterByTag("default")' >Filtered by tag: {{tag}}</span>
  </caption>
    <tr>
      <td>What to do</td>
      <td>Target Date:</td>
      <td>Tags</td>
    </tr>
    <tr ng-style="{'background-color': x.done? 'lightgreen':'white'}" 
        ng-repeat="x in todos track by $index | orderBy:'-targetDate'" ng-click="setSelected(x,$index)" 
        ng-show='hasTag(x.tags,tag)'>
      <td>{{x.name}}</td>
      <td>{{x.targetDate | date}}</td>
      <td ng-repeat="y in x.tags | limitTo:3"><small  ng-click='filterByTag(y)'>#{{y+", "}}</small></td>
    </tr>
    <tr>
      <td>{{name}}</td>
      <td>{{targetDate}}</td>
      <td ng-repeat='y in tags.split(",") | limitTo:3'>#{{y+", "}}</td>
    </tr>
</table>
</div>

<form class="form-horizontal col-md-4" name="myform" novalidate>
  <div class="form-group">
    <label class="col-md-3 control-label" for="name">Name</label>  
    <div class="col-md-6">
      <input ng-model="name" name="name" placeholder="What to do?" 
              class="form-control input-md" type="text" required>
    </div>
  </div>
  	
  <div class="form-group">
    <label class="col-md-3 control-label" for="description">Description</label>
    <div class="col-md-6">                     
      <textarea class="form-control" ng-model="description" name="description" required="">
      Describe to-do
      </textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="targetDate">Target Date</label>
    <div class="col-md-6 date">    
       <div class="input-group input-append date">
            <date-picker ng-model="targetDate" name='targetDate' required>
            </date-picker>
        </div>                 
      <!-- <input ng-model="targetDate" name="targetDate" class="form-control input-md" required="" type="date"> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="tags">Tags</label>  
    <div class="col-md-6">
      <input ng-model="tags" name="tags" placeholder="Separate by commas" 
              class="form-control input-md" required="" type="text">
    </div>
  </div>
  
  <button class="btn btn-success btn-lg btn-block" ng-disabled="myform.name.$pristine || myform.description.$invalid
  			|| myform.targetDate.$invalid || myform.targetDate.$pristine || 
  			myform.tags.$invalid" ng-click='addItem()'>Add</button>
 
  <!-- <button type='submit' ng-click="resetFunc()">Reset localstorage</button> -->
</form>
</div>

</script>
</body>
</html>